
/* ======= This file is encoded UTF-8 without BOM ======= */
/*                  GD MACOS DARK THEME                   */
/* ====================================================== */

/* ====================================================== */
/*         =========== COLOR PALETTE ===========          */
/* #414141 - highlighting                                 */
/* #5A5A5A - borders                                      */
/* #A40000 - (rubin) no result highlighting               */
/* #0080FF - (sapfir)                                     */
/* ====================================================== */

/* ====================================================== */
/* ==================== GLOBAL SCOPE ==================== */
/* ====================================================== */

QAbstractScrollArea::corner
{
  background: transparent;
}
QComboBox
{
  min-width: 100px;
}
QLineEdit
{
  padding: 2px;
}
/*---menu---*/
QMenu
{
  margin: 6px;
}
QMenu::item
{
  padding: 3px 26px 3px 6px;
}
QMenu::item:selected
{
  background: palette(highlight);
}
QMenu::icon
{
  padding: 2px 5px;
}
QMenu::icon:checked
{
  background: #414141;
  border: 1px solid palette(highlight);
  border-radius: 2px;
  padding: 2px 5px;
}
QMenu::icon:checked:selected
{
  background: palette(highlight);
}
/*---tooltip---*/
QToolTip
{
  padding: 4px;
}
/*---list view---*/
QListView
{
  background: palette(mid);
  color: palette(text);
}
QListView::item
{
  color: palette(text);
  background: transparent;
  border: 1px solid transparent;
}
QListView::item:hover
{
  color: palette(text);
  background: palette(window);
  border: 1px solid palette(window);
}
QListView::item:selected
{
  color: #FFFFFF;
  background: palette(highlight);
  border: 1px solid palette(highlight);
}
QListView::item:selected:active
{
  color: #FFFFFF;
  background: palette(highlight);
  border: 1px solid palette(highlight);
}
QListView::item:selected:hover
{
  border: 1px solid #0080FF;
}
QListView::item:selected:!active
{
  color: palette(text);
  background: palette(window);
  border: 1px solid palette(window);
}
QListView::item:selected:!active:hover
{
  border: 1px solid #5A5A5A;
}
/*---tree view---*/
QTreeView
{
  background: palette(mid);
  color: palette(text);
}
QTreeView::item
{
  color: palette(text);
  background: transparent;
  border: 1px solid transparent;
}
QTreeView::item:hover
{
  color: palette(text);
  background: palette(window);
  border: 1px solid palette(window);
}
QTreeView::item:selected
{
  color: #FFFFFF;
  background: palette(highlight);
  border: 1px solid palette(highlight);
}
QTreeView::item:selected:active
{
  color: #FFFFFF;
  background: palette(highlight);
  border: 1px solid palette(highlight);
}
QTreeView::item:selected:hover
{
  border: 1px solid #0080FF;
}
QTreeView::item:selected:!active
{
  color: palette(text);
  background: palette(window);
  border: 1px solid palette(window);
}
QTreeView::item:selected:!active:hover
{
  border: 1px solid #5A5A5A;
}
QTreeView::branch:hover,
QTreeView::branch:selected,
QTreeView::branch:active,
QTreeView::branch:hover,
QTreeView::branch:!active,
QTreeView::branch:!active:hover
{
  background: palette(mid);
  border: 1px solid palette(mid);
}
QTreeView::branch:has-children:!has-siblings:closed,
QTreeView::branch:closed:has-children:has-siblings
{
  image: url(:/icons/expand_article.png);
}
QTreeView::branch:has-children:!has-siblings:closed:hover,
QTreeView::branch:closed:has-children:has-siblings:hover
{
  image: url(:/icons/expand_article_hovered.png);
}
QTreeView::branch:open:has-children:!has-siblings,
QTreeView::branch:open:has-children:has-siblings
{
  image: url(:/icons/collapse_article.png);
}
QTreeView::branch:open:has-children:!has-siblings:hover,
QTreeView::branch:open:has-children:has-siblings:hover
{
  image: url(:/icons/collapse_article_hovered.png);
}

/* ================== POP-UP STATUS BAR ================= */

MainStatusBar #text,
MainStatusBar #icon
{
  color:      palette(text);
  background: palette(mid);
}
MainStatusBar #text
{
  padding:       8px;
  border-radius: 4px;
  border-top:    1px solid palette(light);
  border-right:  1px solid palette(light);
  border-bottom: 1px solid palette(light);
}
MainStatusBar[hasImage="false"] #text
{
  border-left: 1px solid palette(light);
}
MainStatusBar[hasImage="true"] #text
{
  padding-left: 0px;
}
MainStatusBar #icon
{
  border-left:   1px solid palette(light);
  border-bottom: 1px solid palette(light);
  border-top:    1px solid palette(light);
}

/* ================= POP-UP SEARCH BAR ================== */
/* ============= centralWidget & ScanPopup ============== */

#searchFrame #searchPrevious,
#searchFrame #searchNext,
#searchFrame #highlightAllButton
{
  background: transparent;
  border-color: transparent;
  border-radius: 4px;
  padding: 4px;
  font-size: 12pt;
}
#searchFrame #searchPrevious:hover,
#searchFrame #searchNext:hover,
#searchFrame #highlightAllButton:hover
{
  background: #414141;
}
#searchFrame #searchPrevious:pressed,
#searchFrame #searchNext:pressed,
#searchFrame #highlightAllButton:pressed,
#searchFrame #highlightAllButton:checked:pressed
{
  background: palette(mid);
}
#searchFrame #highlightAllButton:checked
{
  background: palette(highlight);
}
#searchFrame #searchText
{
  padding: 1px;
}
#searchFrame #searchText[noResults="true"]
{
  background: #A40000;
}
#searchFrame #searchCloseButton
{
  background: palette(window);
  border: 1px solid palette(window);
  border-radius: 4px;
  padding: 4px;
}
#searchFrame #searchCloseButton:hover
{
  background: #414141;
}
#searchFrame #searchCloseButton:pressed
{
  background: palette(mid);
}

/* ====================================================== */
/* ==================== LOCAL SCOPE ===================== */
/* ====================================================== */

MainWindow
{
  background: palette(window);
}
MainWindow::separator
{
  background: palette(window);
  width:  4px;
  height: 4px;
}

/* ================ Dictionaries Toolbar ================ */
MainWindow #dictionaryBar
{
  padding: 6px;
}
MainWindow #dictionaryBar QMenu::item
{
  padding-left: 12px;
}
/* dictionary buttons */
MainWindow #dictionaryBar QToolButton
{
  color: palette(text);
  background:       transparent;
  border: 1px solid transparent;
  border-radius: 2px;
  padding: 4px 3px;
}
MainWindow #dictionaryBar QToolButton:checked
{
  color: palette(text);
  background: #414141;
  border: 1px solid #414141;
  border-radius: 2px;
  padding: 4px 3px;
}
MainWindow #dictionaryBar QToolButton:hover
{
  border: 1px solid palette(highlight);
}
MainWindow #dictionaryBar QToolButton:checked:hover
{
  border: 1px solid palette(highlight);
}
MainWindow #dictionaryBar QToolButton:pressed,
MainWindow #dictionaryBar QToolButton:checked:pressed
{
  color: palette(text);
  background:       palette(mid);
  border: 1px solid palette(mid);
}
MainWindow #dictionaryBar #qt_toolbar_ext_button:hover
{
  background: #414141;
  border: 1px solid #414141;
}
MainWindow #dictionaryBar #qt_toolbar_ext_button:pressed,
MainWindow #dictionaryBar #qt_toolbar_ext_button:checked:pressed
{
  background:       palette(mid);
  border: 1px solid palette(mid);
}

/* ======================= PANES ======================== */
/* ====== Search, History, Dictionaries, Favorites ====== */
/* ================= "Look up in" line ================== */

MainWindow #searchPane QLabel
{
  margin-top:    4px;
  margin-bottom: 4px;
}
MainWindow #searchPane  #wordList,
MainWindow #dictsPane   #dictsList,
MainWindow #historyPane #historyList,
MainWindow #favoritesPane #favoritesTree
{
  background: palette(mid);
  color: palette(text);
}
MainWindow #searchPane     #wordList::item,
MainWindow #dictsPane     #dictsList::item,
MainWindow #historyPane #historyList::item,
MainWindow #favoritesPane #favoritesTree::item
{
  color: palette(text);
  background: transparent;
  border: 1px solid transparent;

  padding-top: 1px;
  padding-bottom: 1px;
}
MainWindow #searchPane     #wordList::item:hover,
MainWindow #dictsPane     #dictsList::item:hover,
MainWindow #historyPane #historyList::item:hover,
MainWindow #favoritesPane #favoritesTree::item:hover
{
  color: palette(text);
  background: palette(window);
  border: 1px solid palette(window);
}
MainWindow #searchPane     #wordList::item:selected,
MainWindow #dictsPane     #dictsList::item:selected,
MainWindow #historyPane #historyList::item:selected,
MainWindow #favoritesPane #favoritesTree::item:selected
{
  color: #FFFFFF;
  background: palette(highlight);
  border: 1px solid palette(highlight);
}
MainWindow #searchPane     #wordList::item:selected:active,
MainWindow #dictsPane     #dictsList::item:selected:active,
MainWindow #historyPane #historyList::item:selected:active,
MainWindow #favoritesPane #favoritesTree::item:selected:active
{
  color: #FFFFFF;
  background: palette(highlight);
  border: 1px solid palette(highlight);
}
MainWindow #searchPane     #wordList::item:selected:hover,
MainWindow #dictsPane     #dictsList::item:selected:hover,
MainWindow #historyPane #historyList::item:selected:hover,
MainWindow #favoritesPane #favoritesTree::item:selected:hover
{
  border: 1px solid #0080FF;
}
MainWindow #searchPane     #wordList::item:selected:!active,
MainWindow #dictsPane     #dictsList::item:selected:!active,
MainWindow #historyPane #historyList::item:selected:!active,
MainWindow #favoritesPane #favoritesTree::item:selected:!active
{
  color: palette(text);
  background: palette(window);
  border: 1px solid palette(window);
}
MainWindow #searchPane     #wordList::item:selected:!active:hover,
MainWindow #dictsPane     #dictsList::item:selected:!active:hover,
MainWindow #historyPane #historyList::item:selected:!active:hover,
MainWindow #favoritesPane #favoritesTree::item:selected:!active:hover
{
  border: 1px solid #5A5A5A;
}
MainWindow #searchPane #translateLine
{
  padding-left: 3px;
  background-color: palette(base);
  color: palette(text);
}
MainWindow #searchPane #translateLine[noResults="true"]
{
  background: #A40000;
}

/* ================= Navigation Toolbar ================= */

MainWindow #navToolbar QToolButton
{
  background:       transparent;
  border: 1px solid transparent;
  border-radius: 4px;
  margin:  2px 0px;
  /*padding: 2px;*/
}
MainWindow #navToolbar QToolButton:hover
{
  background:       #414141;
  border: 1px solid #414141;
}
MainWindow #navToolbar QToolButton:checked
{
  background:       palette(highlight);
  border: 1px solid transparent;
}
MainWindow #navToolbar QToolButton:checked:hover
{
  border: 1px solid palette(highlight);
}
MainWindow #navToolbar QToolButton:pressed,
MainWindow #navToolbar QToolButton:checked:pressed
{
  background:       palette(mid);
  border: 1px solid palette(mid);
}
MainWindow #navToolbar GroupComboBox
{
  color: palette(text);
  background: palette(window);
  border: 1px solid #5A5A5A;
  padding-left: 8px;
  margin-top: 3px;
  margin-bottom: 4px;
  border-top-left-radius:    4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius:    0px;
  border-bottom-right-radius: 0px;
  selection-background-color: palette(highlight);
}
MainWindow #navToolbar GroupComboBox:hover
{
  background: palette(mid);
}
MainWindow #navToolbar GroupComboBox:on
{
  background: transparent;
  border: 1px solid #5A5A5A;
}
MainWindow #navToolbar GroupComboBox::drop-down
{
  border: none;
}
MainWindow #navToolbar GroupComboBox::down-arrow
{
  image: url(':/icons/collapse_article.png');
  right: 2px;
}
MainWindow #navToolbar #translateLine
{
  color: palette(text);
  background: palette(window);
  border: 1px solid #5A5A5A;
  padding: 4px;
  margin-top: 3px;
  margin-bottom: 4px;
  border-top-left-radius:    0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius:    4px;
  border-bottom-right-radius: 4px;
}
MainWindow #navToolbar #translateLine IconButton[toolTip]
{
  qproperty-pixmap: url(':/icons/collapse_article.png');
}
MainWindow #navToolbar #translateLine IconButton
{
  qproperty-pixmap: url(':/macicons/xs_search_dark.svg');
}
MainWindow #navToolbar #translateLine:hover
{
  background: palette(mid);
}
MainWindow #navToolbar #translateLine:focus
{
  background: palette(mid);
  border: 1px solid #5A5A5A;
}
MainWindow #navToolbar #translateLine[noResults="true"]
{
  background: #A40000;
}
/* drop-down list of "Look up in" field */
MainWindow CompletionList
{
  background: palette(mid);
  color: palette(text);
}
MainWindow CompletionList::item
{
  color: palette(text);
  background: transparent;
  border: 1px solid transparent;
}
MainWindow CompletionList::item:hover
{
  color: palette(text);
  background: palette(window);
  border: 1px solid palette(window);
}
MainWindow CompletionList::item:selected
{
  color: #FFFFFF;
  background: palette(highlight);
  border: 1px solid palette(highlight);
}
MainWindow CompletionList::item:selected:hover
{
  border: 1px solid #0080FF;
}

/* =================== Articles Panel =================== */

MainWindow ArticleView #frame,
MainWindow #definition
{
  background: palette(mid);
}
MainWindow #centralWidget QToolButton
{
  background: palette(window);
  border: 1px solid palette(window);
  padding: 3px;
}
MainWindow #centralWidget QToolButton:hover
{
  background: #414141;
}
MainWindow #centralWidget QToolButton:pressed
{
  background: palette(highlight);
}
MainWindow #centralWidget QToolButton::menu-indicator
{
  background: transparent;
}

/* =============== Pop-up Navigation Panel ============== */
/* ================ in Full-text Search ================= */

MainWindow #ftsSearchFrame #ftsSearchNext,
MainWindow #ftsSearchFrame #ftsSearchPrevious
{
  background: transparent;
  border-color: transparent;
  border-radius: 4px;
  padding: 4px;
  font-size: 12pt;
}
MainWindow #ftsSearchFrame     #ftsSearchNext:focus,
MainWindow #ftsSearchFrame #ftsSearchPrevious:focus
{
  background:       #414141;
  border: 1px solid #5A5A5A;
}
MainWindow #ftsSearchFrame     #ftsSearchNext:hover,
MainWindow #ftsSearchFrame #ftsSearchPrevious:hover
{
  background: #414141;
}
MainWindow #ftsSearchFrame     #ftsSearchNext:pressed,
MainWindow #ftsSearchFrame #ftsSearchPrevious:pressed
{
  background: palette(mid);
}

/* ==================== MODAL WINDOWS =================== */
/* ===================== SCAN_POPUP ===================== */

ScanPopup #outerFrame
{
  padding: 2px;
}
ScanPopup #ArticleView,
ScanPopup #frame,
ScanPopup #definition
{
  background: palette(window);
  border: none;
}
ScanPopup #groupList
{
  color: palette(text);
  background: palette(window);
  border: 1px solid #5A5A5A;
  padding-left: 8px;
  border-top-left-radius:    4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius:    0px;
  border-bottom-right-radius: 0px;
  selection-background-color: palette(highlight);
}
ScanPopup #groupList:hover
{
  background: palette(mid);
}
ScanPopup #groupList:on
{
  background: transparent;
  border: 1px solid #5A5A5A;
}
ScanPopup #groupList::drop-down
{
  border: none;
}
ScanPopup #groupList::down-arrow
{
  image: url(':/icons/collapse_article.png');
  right: 2px;
}
ScanPopup #translateLine
{
  color: palette(text);
  background: palette(window);
  border: 1px solid #5A5A5A;
  padding: 4px;
  margin-top: 2px;
  margin-bottom: 4px;
  border-top-left-radius:    0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius:    4px;
  border-bottom-right-radius: 4px;
}
ScanPopup #translateLine IconButton[toolTip]
{
  qproperty-pixmap: url(':/icons/collapse_article.png');
}
ScanPopup #translateLine IconButton
{
  qproperty-pixmap: url(':/macicons/xs_search_dark.svg');
}
ScanPopup #translateLine:hover
{
  background: palette(mid);
}
ScanPopup #translateLine:focus
{
  background: palette(window);
  border: 1px solid #5A5A5A;
}
ScanPopup #translateLine[noResults="true"]
{
  background: #A40000;
}
ScanPopup CompletionList
{
  background: palette(mid);
  color: palette(text);
}
ScanPopup CompletionList::item
{
  color: palette(text);
  background: transparent;
  border: 1px solid transparent;
}
ScanPopup CompletionList::item:hover
{
  color: palette(text);
  background: palette(window);
  border: 1px solid palette(window);
}
ScanPopup CompletionList::item:selected
{
  color: #FFFFFF;
  background: palette(highlight);
  border: 1px solid palette(highlight);
}
ScanPopup CompletionList::item:selected:hover
{
  border: 1px solid #0080FF;
}
ScanPopup #outerFrame #goBackButton
{
  margin-left: 10px;
}
ScanPopup #outerFrame QToolButton
{
  width:     16px;
  height:    16px;
  padding:    2px;
  background:       transparent;
  border: 1px solid transparent;
}
ScanPopup #outerFrame QToolButton:hover
{
  background: #414141;
  border: 1px solid #414141;
  border-radius: 4px;
}
ScanPopup #outerFrame QToolButton:checked
{
  background:       palette(highlight);
  border: 1px solid palette(highlight);
  border-radius: 4px;
}

ScanPopup #outerFrame QToolButton:pressed,
ScanPopup #outerFrame QToolButton:checked:pressed
{
  background:       palette(mid);
  border: 1px solid palette(mid);
  border-radius: 4px;
}
ScanPopup #outerFrame QToolButton:checked:hover
{
  border: 1px solid #0080FF;
  border-radius: 4px;
}
ScanPopup #dictionaryBar
{
  padding: 5px;
}
/* dictionary buttons */
ScanPopup #dictionaryBar QToolButton
{
  color: palette(text);
  background:       transparent;
  border: 1px solid transparent;
  border-radius: 2px;
  padding: 2px 2px 2px 3px;
}
ScanPopup #dictionaryBar QToolButton:checked
{
  color: palette(text);
  background: #414141;
  border: 1px solid #414141;
  border-radius: 2px;
  padding: 2px 2px 2px 3px;
}
ScanPopup #dictionaryBar QToolButton:hover
{
  border: 1px solid palette(highlight);
}
ScanPopup #dictionaryBar QToolButton:checked:hover
{
  border: 1px solid palette(highlight);
}
ScanPopup #dictionaryBar QToolButton:pressed,
ScanPopup #dictionaryBar QToolButton:checked:pressed
{
  color: palette(text);
  background:       palette(mid);
  border: 1px solid palette(mid);
}
ScanPopup #dictionaryBar #qt_toolbar_ext_button:hover
{
  background: #414141;
  border: 1px solid #414141;
}
ScanPopup #dictionaryBar #qt_toolbar_ext_button:pressed,
ScanPopup #dictionaryBar #qt_toolbar_ext_button:checked:pressed
{
  background:       palette(mid);
  border: 1px solid palette(mid);
}

/* =============== DICTIONARIES... WINDOW =============== */

EditDictionaries QPlainTextEdit
{
  background: palette(base);
  border: 1px solid palette(mid);
}
EditDictionaries QStackedWidget
{
  background: #393939;
  /*border: 1px solid #D4D4D4;*/
}
EditDictionaries QStackedWidget QStackedWidget
{
  background: #3E3E3E;
  /*border: 1px solid #D4D4D4;*/
}
EditDictionaries DictGroupsWidget QTabBar::scroller
{
  width: 40px;
}
EditDictionaries DictGroupsWidget QToolButton[popupMode="0"]
{
  background:       palette(mid);
  border: 1px solid palette(mid);
  padding-top:    1px;
  padding-bottom: 3px;
}
EditDictionaries DictGroupsWidget QToolButton[popupMode="0"]:hover
{
  background:       palette(highlight);
  border: 1px solid palette(highlight);
}
EditDictionaries DictGroupsWidget QToolButton[popupMode="0"]:pressed
{
  background:       palette(base);
  border: 1px solid palette(base);
}
EditDictionaries DictGroupsWidget QToolButton[popupMode="2"]
{
  background: palette(window);
  border: 1px solid palette(window);
  padding: 0px;
}
EditDictionaries DictGroupsWidget QToolButton[popupMode="2"]:hover
{
  background: palette(highlight);
}
EditDictionaries DictGroupsWidget QToolButton[popupMode="2"]:pressed
{
  background: palette(mid);
}
EditDictionaries DictGroupsWidget QToolButton[popupMode="2"]::menu-indicator
{
  background: transparent;
}
EditDictionaries #OrderAndProps #searchLine IconButton[width="30"],
EditDictionaries #Groups #searchLine IconButton[width="30"]
{
  qproperty-pixmap: url(':/macicons/xs_search_dark_quick.svg');
}
EditDictionaries #OrderAndProps #searchLine IconButton,
EditDictionaries #Groups #searchLine IconButton
{
  qproperty-pixmap: url(':/macicons/xs_search_dark_clear.svg');
}

/* ============ DICTIONARY ANNOTATION WINDOW ============ */

DictInfo #infoLabel,
DictInfo #dictionaryFileList
{
  background: palette(mid);
}

/* ============ DICTIONARY HEADWORDS WINDOW ============= */

DictHeadwords #headersListView
{
  background: palette(mid);
  color: palette(text);
}
DictHeadwords #headersListView::item
{
  color: palette(text);
  background: transparent;
  border: 1px solid transparent;
}
DictHeadwords #headersListView::item:hover
{
  color: palette(text);
  background: palette(window);
  border: 1px solid palette(window);
}
DictHeadwords #headersListView::item:selected
{
  color: #FFFFFF;
  background: palette(highlight);
  border: 1px solid palette(highlight);
}
DictHeadwords #headersListView::item:selected:active
{
  color: #FFFFFF;
  background: palette(highlight);
  border: 1px solid palette(highlight);
}
DictHeadwords #headersListView::item:selected:hover
{
  border: 1px solid #0080FF;
}
DictHeadwords #headersListView::item:selected:!active
{
  color: palette(text);
  background: palette(window);
  border: 1px solid palette(window);
}
DictHeadwords #headersListView::item:selected:!active:hover
{
  border: 1px solid #5A5A5A;
}

/* ================== FULL-TEXT SEARCH ================== */

#FullTextSearchDialog #headwordsView
{
  background: palette(mid);
  color: palette(text);
}
#FullTextSearchDialog #headwordsView::item
{
  color: palette(text);
  background: transparent;
  border: 1px solid transparent;
}
#FullTextSearchDialog #headwordsView::item:hover
{
  color: palette(text);
  background: palette(window);
  border: 1px solid palette(window);
}
#FullTextSearchDialog #headwordsView::item:selected
{
  color: #FFFFFF;
  background: palette(highlight);
  border: 1px solid palette(highlight);
}
#FullTextSearchDialog #headwordsView::item:selected:active
{
  color: #FFFFFF;
  background: palette(highlight);
  border: 1px solid palette(highlight);
}
#FullTextSearchDialog #headwordsView::item:selected:hover
{
  border: 1px solid #0080FF;
}
#FullTextSearchDialog #headwordsView::item:selected:!active
{
  color: palette(text);
  background: palette(window);
  border: 1px solid palette(window);
}
#FullTextSearchDialog #headwordsView::item:selected:!active:hover
{
  border: 1px solid #5A5A5A;
}

/* ===================== HELP WINDOW ==================== */

QDialog[windowTitle*="GoldenDict"] QTextBrowser
{
  background: palette(base);
  padding-top:          7px;
  padding-left:        14px;
}
QHelpContentWidget
{
  padding-top:         4px;
}
QHelpIndexWidget
{
  background: palette(mid);
  padding-top:         6px;
  padding-left:        6px;
}
QDialog[windowTitle*="GoldenDict"] QListView::item
{
  padding-bottom: 1px;
}
QDialog[windowTitle*="GoldenDict"] QToolButton
{
  background:       transparent;
  border: 1px solid transparent;
  border-radius: 4px;
  margin:  2px 0px;
}
QDialog[windowTitle*="GoldenDict"] QToolButton:hover
{
  background:       #414141;
  border: 1px solid #414141;
}
QDialog[windowTitle*="GoldenDict"] QToolButton:pressed
{
  background:       palette(mid);
  border: 1px solid palette(mid);
}
